.body
{
  background-color: rgb(100%, 100%, 100%);
  color: rgb(0%, 0%, 0%);
  font-family: "lucida grande", tahoma, verdana, arial, helvetica, sans-serif;
  font-size: 16px;
}

.number
{
  display: inline-block;
  width: 6rem;
}

input[type="text"]
{
  width: 4rem;
}
