.body
{
  background-color: rgb(100%, 100%, 100%);
  color: rgb(0%, 0%, 0%);
  font-family: "lucida grande", tahoma, verdana, arial, helvetica, sans-serif;
  font-size: 12px;
}

.left_div
{
  border-color: rgb(0%, 0%, 0%);
  border-style: solid;
  border-width: 1px;
  float: left;
  margin: 12px;
  padding: 12px;
}
